{% extends 'base.html.twig' %}

{% block title %}Edit proposition{% endblock %}

{% block body %}
    <h1>Edit proposition</h1>

    {{ include('proposition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proposition_index') }}">back to list</a>

    {{ include('proposition/_delete_form.html.twig') }}
{% endblock %}
