{% block footer %}
	<div class="foter">
		<footer class="text-center">
			<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<div class="me-5 d-none d-lg-block">
					<span>Rendez-nous visite sur nos réseaux sociaux:</span>
				</div>
				<div>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</section>
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<div class="row mt-3">
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<h6 class="text-uppercase mb-4 mt-5">
								<a href="{{path('home_index')}}">
									<img src="{{asset('img/hire.png')}}" width="30px" style="margin-right:20px;"></img>
							</a>Hire Hive
						</h6>
					</div>
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">
							MENU
						</h6>
						<p>
							<a href="#!" class="text-reset">Accueil</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Les offres</a>
						</p>
						<p>
							<a href="#!" class="text-reset">A propos</a>
						</p>
					</div>
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
						<p>
							<i class="fas fa-envelope me-3"></i>
							Hire@Hire.com
						</p>
						<p>
							<i class="fas fa-phone me-3"></i>
							+ 216 55 555 555</p>
						<p>
							<i class="fas fa-print me-3"></i>
							+ 216 77 777 777</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</div>{% endblock %}
